@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{
    background-image: url(https://wallpapercave.com/wp/wp9204724.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#clock{
    font-family: "Orbitron", sans-serif;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(234, 255, 1);
    transition: all 0.5s ease;
}